<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'todos/style.css' %}" />
      <title>TodoList Login</title>
  </head>
  <body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Login</label><br/>
        <input type="text" name="username" id="username"/>
        <br><br>
        <label for="password">Password</label><br/>
        <input type="password" name="password" id="password"></input>
        <br>
        <div class="error">
            <p>{{ error }}</p>
        </div>
        <div class="message">
            <p>{{ message }}</p>
        </div>
        <input type="submit" value="Log in">
        <br><br>
        <p>If you don't remember your password go to the >>
            <a href="{% url 'password_reset_request' %}"> Reset password</a>
            << page.</p>
    </body>
</html>
