<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'todos/style.css' %}" />
      <title>Send email with a link to reset your password</title>
  </head>
  <body>
    <form action="{% url 'password_reset_request' %}" method="post">
        {% csrf_token %}
        <label for="user_email">Your email</label><br/>
        <input type="email" name="user_email"/>
        <br>
        <div class="error">
            <p>{{ error }}</p>
        </div>
        <div class="message">
            <p>{{ message }}</p>
        </div>
        {% if message %}
            <meta http-equiv="refresh" content="3;url={% url 'login' %}" />
        {% endif %}
        <input type="submit" value="Submit">
    </body>
</html>
