{% include 'partials/header.html' %}
{% load static %}
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <label for="title">Title</label><br/>
        <input type="text" name="title" id="title"/>
        <br>
        <label for="text">Text</label><br/>
        <textarea name="text" id="text"></textarea>
        <br>
        <select name="column_id">
            <option value="left">To do</option>
            <option value="middle">In progress</option>
            <option value="right">Done</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Add this todo"/>
    </form>
    <br>
    <a href="/">Home</a>
{% include 'partials/footer.html' %}
