{% include 'partials/header.html' %}
{% load static %}
    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <p>Choose a todo to delete</p>
        <br>
        <select name="todo_id">
            {% for todo in todos %}
                <option value={{ todo.id }}> {{ todo.title }} </option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Delete"/>
    </form>
    <br>
    <a href="/">Go Back</a>
{% include 'partials/footer.html' %}
