{% include 'partials/header.html' %}
{% load static %}
    <a href="/todos">Go to the todos</a>
    <div class="borders">
      <h1>{{todo.title}}</h1>
      <div class="todo.text">
          <h3>"{{todo.text}}"<h3>
      </div>
      <br>
      <p>Created on {{todo.created_at}}
    </div>
    <br>
     <a href="{% url 'edit' todo.id %}"> Edit this todo</a>
     <br>
    <form action='{% url 'delete' todo.id %}' method="post">
        {% csrf_token %}
        <p>A todo "{{ todo.title }}" will be deleted</p>
        <br>
        <input type="submit" value="Delete"/>
    </form>

{% include 'partials/footer.html' %}
